* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #222831;
    --second-bg-color: #393E46;
    --text-color: #EEEEEE;
    --main-color:#00ADB5;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
}